* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

:root{
    --white: #FFFFFF;
    --black: #000000;
    --playbar: #282828;
    --content: #141922;
    --card-text: #7D7F84;
    --green: #ADFF2F;
    --bar-gray: #5A5A5A;
    --bar-grey-light: #C1C1C1;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}

.fa-solid{
    font-size: 20px;
    cursor: pointer;
}

.fa-square-plus{
    font-size: 40px;
}

.fa-solid.fa-circle-user{
    padding-bottom: 10px;
}

/* UTILITIES LAYOUT */
.wrapper{
    width: 100%;
    height: 100vh;
}

.circular-square{
    border-radius: 50%;
}

/* SITE SECTIONS */
/* Start MAIN */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

/* ALL THAT INSIDE THE MAIN */
nav{
    width: 230px;
    height: 100%;
    background-color: var(--black);
}

#nav-vertical{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 20px;
    color: var(--card-text);
}

#logo{
    width: 70%;
    padding-top: 20px;
    cursor: pointer;
}

#nav-vertical li{
    padding-top: 15px;
}

#nav-vertical li a{
    color: var(--card-text);
}

#nav-vertical h5{
    color: var(--white); 
    padding-top: 15px;
}

#nav-vertical i:hover, #nav-vertical a:hover{
    color: var(--white);
}

#plus{
    display: flex;
    align-items: center;
}

.user-list{
    padding-top: 10px;
}

 .play-list{
    overflow-y: auto;
 }

 .margin-trick{
    margin-top: auto;
 }

 #logo-small{
    display: none;
    width: 25px;
    padding-top: 20px;
    cursor: pointer;
 }

/* MAIN-CONTENT SECTION */
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--content);
    overflow-y: auto;
}

.nav-horizontal{
    width: calc(100% - 230px);
    height: 95px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.flex-horiz{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button{
    border: 1px solid var(--white);
    background-color: rgba(0,0,0,0.5);
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    color: var(--white);
    border-radius: 20px;
    margin-right: 35px;
}

button:hover{
    transform: scale(1.1);
}

/* INNER-CONTENT SECTION */
.inner-content{
    overflow-y: auto;
    height: 100%;
    padding-top: 95px;
}

#inner-nav{
    width: 100%;
    height: auto;
    background-color: var(--content);
}

#inner-nav li a:hover{
    color: var(--white);
}

#evidenza:after {
    content: '';
    display: block;
    background: var(--green);
    height: 2px;
    width: 40px;
    margin: 4px auto;
}

.inner-content h2{
    padding-left: 10px;
}

.recently, .creato, .artisti{
    padding: 10px 30px 10px 0px;
}

.flexnav {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
}

.flexnav li{
    padding-top: 20px;
}

.flexnav li a {
    color: var(--card-text);
    font-weight: bold;
    font-size: 14px;
    padding-right: 15px;
}

/* RECENTLY SECTION */
/* Card Style */
.container p{
    padding-left: 10px;
    color: var(--card-text);
    font-weight: bold;
    line-height: 3;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 2;
}

.card{
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card img{
    width: 100%;
    max-width: 100%;
}

.card p{
    color: var(--card-text);
    font-weight: bold;
}

.cover{
    position: relative;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    display: none;
}

.card:hover .play{
    display: block;
}

.card:hover img{
    filter: saturate(50%);
}

/* Creato SECTION */

/* ARTISTI SECTION */

/* EVERYTHING OUTSIDE THE MAIN */
.playbar{
    width: 100%;
    height: 95px;
    background-color: var(--playbar);
    position: fixed;
    bottom: 0;
    z-index: 2000;
}

/* STYLE PLAYBAR */
.inner-playbar{
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5000;
}

.play-left, .play-center, .play-right {
    display: flex;
    align-items: center;
}
/* play-left*/
.play-left{
    flex-basis: 25%;
}

.play-left img{
    width: 80px;
    padding-right: 20px;
}

.play-left p{
    color: var(--card-text);
    font-size: 14px;
    font-weight: bold;
}

.play-icons{
    color: var(--card-text);
    padding-left: 2rem;
    font-size: 1.5rem;
}

.play-icons :first-child {
    padding-right: 20px;
}

.play-left p:hover{
    text-decoration: underline;
}

.play-left p:hover, .play-icons i:hover{
    color: var(--white);
    cursor: pointer;
}

/* play-center */
.play-center {
    flex-direction: column;
    flex-basis: 50%;
    gap: 10px;
}

.player-buttons{
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 30px;
}

.play-center .fa-regular.fa-circle-play{
    font-size: 45px;
    cursor: pointer;
}

.play-center .fa-regular.fa-circle-play:hover{
    transform: scale(1.1);
}

.playback{
    display: flex;
    align-items: center;
    width: 50%;
}

.playback label{
    font-size: 15px;
    font-weight: bold;
}

.playback-bar{
    width: 100%;
    height: 4px;
    background-color: var(--bar-gray);
    border-radius: 4px;
    margin: 0 25px;
    cursor: pointer;
}

.playback-bar-2{
    width: 25%;
    height: 4px;
    background-color: var(--bar-grey-light);
    border-radius: 4px;
}

.playback-bar:hover .playback-bar-2{
    background-color: var(--green);
}

/* play-right */
.play-right{
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-basis: 25%;
    gap: 25px;
}
.other-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.other-icons i:hover{
    transform: scale(1.1);
}

.volume{
    width: 8vw;
    height: 4px;
    background-color: var(--bar-gray);
    border-radius: 4px;
    margin: 0 25px;
    cursor: pointer;
}

.volume-2{
    width: 25%;
    height: 4px;
    background-color: var(--bar-grey-light);
    border-radius: 4px;
}

.volume:hover .volume-2{
    background-color: var(--green);
}

/* RESPONSIVE */
@media screen and (max-width: 1200px){

    /* UTILITIES LAYOUT */
    .card{
        width: calc(100% / 4);
    }

    /* INNER-CONTENT SECTION */
    .flexnav {
        flex-wrap: wrap;
    }
 }

 @media screen and (max-width: 992px){

    /* UTILITIES LAYOUT */
    .card{
        width: calc(100% / 3);
    }
 }

 @media screen and (max-width: 768px){

    /* UTILITIES LAYOUT */
    .card{
        width: calc(100% / 2);
    }
 }

 @media screen and (max-width: 576px){

    /* UTILITIES LAYOUT */
    .card{
        width: 100%;
    }

    /* NAV-VERTICAL */
    #nav-vertical a , #logo ,#nav-vertical h5 , #plus{
        display: none;
    }

    #logo-small{
        display: block;
    }

    
    #nav-vertical{
        width: 40px;
    }

    .main-content {
        width: calc(100% - 40px);
    }

    .nav-horizontal {
        width: calc(100% - 40px);
    }

    .play-left , .play-right{
        display: none;
    }

    .play-center {
        flex-basis: 100%;
    }
 }