* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

:root{
    --white: #FFFFFF;
    --black: #000000;
    --playbar: #282828;
    --content: #141922;
}

/* UTILITIES LAYOUT */
.wrapper{
    width: 100%;
    height: 100vh;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* SITE SECTIONS */
/* Start MAIN */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

/* ALL THAT INSIDE THE MAIN */
nav{
    width: 230px;
    height: 100%;
    background-color: var(--black);
}

.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--content);
    overflow: auto;
}

.nav-horizontal{
    width: 100%;
    height: 95px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
}
/* INNER-CONTENT SECTION */
.inner-content{
    overflow-y: auto;
    height: 100%;
    padding-top: 95px;
}

.inner-content h2{
    padding-left: 10px;
}

.recently, .creato{
    padding: 10px 30px 10px 0px;
}

/* RECENTLY SECTION */


/* Creato SECTION */
.creato-container p{
    padding-left: 10px;
}

/* EVERYTHING OUTSIDE THE MAIN */
.playbar{
    width: 100%;
    height: 95px;
    background-color: var(--playbar);
    position: fixed;
    bottom: 0;
    z-index: 2000;
}